img {
  border-radius: 30%;
  margin-bottom: 20px;
}

.menu li {
  display: inline;
  margin-right: 20px;
}
.menu li a {
  color: black;
  font-weight: bold;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
}

colgroup {
  width: 20px;
}
p {
  font-family: "Georgia";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}
p,
h2,
b {
  margin: 10px 0;
}

.submit-btn {
  margin-top: 20px;
}
.table {
  margin: 30px auto;
  width: 40%;
}
body {
  background-color: rgb(156, 191, 190);
}
@media screen and (min-width: 400px) {
  body {
    background-color: rgb(138, 193, 182);
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: rgb(164, 180, 198);
  }
}
a {

  text-decoration: none;
}
